

:root {
  /* Defines default font family for the entire document */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* Sets default line height for better readability */
  line-height: 1.5;
  /* Defines base font weight */
  font-weight: 400;
  /* Enables automatic adaptation to light and dark mode */
  color-scheme: white dark;
  /* Sets the default text color with slight transparency */
  color: rgba(255, 255, 255, 0.87);
  /* Sets the default background color for dark mode */
  background-color: #242424;
  /* Prevents font synthesis (i.e., the browser generating bold/italic versions if missing) */
  font-synthesis: none;
  /* Optimizes text rendering for better legibility */
  text-rendering: optimizeLegibility;
  /* Smooths font rendering in WebKit-based browsers (Chrome, Safari) */
  -webkit-font-smoothing: antialiased;
  /* Smooths font rendering in Firefox for macOS */
  -moz-osx-font-smoothing: grayscale;
}
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrolling */
}

body {
  background: linear-gradient(45deg, hsl(26, 100%, 73.5%), hsl(0, 0%, 100%));
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
a {
  font-weight: 500;
  color: #ff9d64;
  /* Inherits text decoration from parent elements (removes underline by default) */
  text-decoration: inherit;
}

a:hover {
  color: #e75906;
}





h1 {
  font-size: larger;
}

button:focus,
button:focus-visible {
  /* Add focus styles if needed */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #473521;
    background-color: #ffffff;
  }

  a:hover {
    color: #f5a43a;
  }
}

