:root {
  --primary-color: #B799FF;
  --secondary-color: #ACBCFF;
  --third-color: #AEE2FF;
  --fourth-color: #E6FFFD;
  --background-color: white;
  --border-color: #B799FF;
  --sidebar-background: linear-gradient(145deg, #ACBCFF, #ACBCFF);
  --sidebar-text-color: white;
  --sidebar-hover-bg: white;
  --sidebar-hover-color: #ACBCFF;
  --button-bg-color: white;
  --button-text-color: #ACBCFF;
  --button-shadow: rgba(0, 0, 0, 0.2);
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: white dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-theme {
  --primary-color: #333;
  --secondary-color: #555;
  --background-color: #121212;
  --sidebar-background: linear-gradient(145deg, #6d50af, #6d50af);
  --sidebar-text-color: #fff;
  --sidebar-hover-bg: #fff;
  --sidebar-hover-color: #ACBCFF;
  --button-bg-color: #444;
  --button-text-color: #ACBCFF;
  --button-shadow: rgba(255, 255, 255, 0.2);
}


html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrolling */
}

body {
  /* background: linear-gradient(45deg, hsl(26, 100%, 73.5%), hsl(0, 0%, 100%)); */
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 2%;
  overflow-x: hidden;
}

/* Main Content Styling */
/* .main-content {
    padding: auto;
    flex-grow: 1;
} */

a {
  font-weight: 500;
  color: #ff9d64;
  /* Inherits text decoration from parent elements (removes underline by default) */
  text-decoration: inherit;
}

a:hover {
  color: #e75906;
}




h1 {
  font-size: larger;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #473521;
    background-color: #ffffff;
  }

  a:hover {
    color: #f5a43a;
  }
}

  /* rgb(183, 153, 255)   #B799FF

rgb(172, 188, 255)   #ACBCFF

rgb(174, 226, 255)   #AEE2FF

rgb(230, 255, 253)   #E6FFFD */